.loginMainCtnr{
	width: 100%;
	min-height: 100vh;
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(300px, 27%));
	align-items: center;
	justify-content: center;
	background: var(--default-bg);
	font-family: Memoirs;

	.loginCtnr{
		padding: 6px;
		height: 450px;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
		background: var(--bg-default-white);
		display: flex;
		flex-direction: column;

		header{
			width: 100%;
			padding: 10px;
			display: flex;
			color: #fff;
			justify-content: space-between;

		}
		form{
			width: 100%;
			padding: 10px 30px;
			display: flex;
			justify-content: center;
			flex-direction: column;
			gap: 3px;
			
			.msg{
				&Invalid{
					color: red;
					background: var(--status-pending-bg);
					font-weight: var(--fontWeight-bold);
					padding: 6px 10px;
					display: flex;
					gap: 5px;
					align-items: center;
					font-size: var(--fontSize-12);
					line-height: var(--lineHeight-15);
					font-weight: lighter;
					justify-content: center;
				}
				&Success{
					padding: 5px 15px;
					font-size: var(--fontSize-12);
					line-height: var(--lineHeight-15);
					font-weight: var(--fontWeight-bold);
					color: var(--status-color-paid);
					background: var(--status-paid-bg);
					font-weight: var(--fontWeight-bold);
					display: flex;
					gap: 5px;
					align-items: center;
					justify-content: center;
				}
			}

			.formDiv{
				padding-left: 50px;
				padding-right: 50px;
				flex-direction: column;
				display: flex;
				padding: 8px;
				gap: 4px;
				label{
					margin-top: 8px;
					margin-bottom: 8px;
				}

				h2{
					color: var(--header-h2-color);
					font-size: 	var(--fontSize-32);
					font-weight: var(--fontWeight-bold);
					line-height: var(--lineHeight-36);
					text-align: center;
				}
				p{
					color: var(--header-h2-color);
					font-size: var(--fontSize-12);
					letter-spacing: var(--letterSpacing-025);
					text-align: center;
				}
				h5{
					text-align: left;
					font-size: var(--fontSize-14);
					letter-spacing: var(--letterSpacing-025);
					line-height: var(--lineHeight-15);
					color: var(--theme-color);
					display: flex;

					span{
						color: red;
					}
				}
				.error{
					border: 2px solid red;
				}
				input{
					border-radius: 8px;
				}
				.resetPasswordLink{
					width: 100%;
					text-align: right;
					color: var(--link-color);
					cursor: pointer;
				}
			}
			button{
				width: 100%;
				padding: 11px 14px;
				border-radius: 20px;
				background: white;
				outline: none;
				border: 0px solid #000;
				cursor: pointer;
				background: var(--header-btn-bg);
				color: var(--color-default-white);

				 &:disabled{
				 	opacity: 0.7;
				 }
				}
		}
		span{
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 5px;
			color: var(--header-h2-color);
			font-size: var(--fontSize-14);
			letter-spacing: var(--letterSpacing-025);
			text-align: center;
			a{
				color: var(--link-color);
				cursor: pointer;
			}
		}
	}
	.displayCntr{
		height: 450px;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
		padding: 20px;
		background-image: linear-gradient(
			167deg,
			var(--header-btn-bg),
			#f2f2
		);

		div{
			width: 100%;
			display: flex;
			justify-content: end;
			align-items: center;

			a{
				border: 1px solid var(--color-default-black);
				margin-top: 14px;
				padding: 8px 14px;
				border-radius: 8px;
				background: transparent;
				text-align: right;
				font-size: var(--fontSize-12);
				color: var(--color-default-black);
				cursor: pointer;
			}
		}

	}
}