.signUpMainCtnr{
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	

		.signUpCtnr{
			width: 640px;
			display: grid;
			grid-template-columns:1fr 1fr;
			grid-template-rows: 550px;
			align-items: center;
			justify-content: center;
			background: var(--default-bg);
		}
	
	.signUp{
		height: 100%;
		width: 100%;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
		background: var(--bg-default-white);
		display: flex;
		flex-direction: column;

		gap: 15px;
		padding: 14px;

		header{
			display: flex;
			flex-direction: column;
			gap: 4px;

			h2{
				color: var(--header-h2-color);
				font-size: 	var(--fontSize-32);
				font-weight: var(--fontWeight-bold);
				line-height: var(--lineHeight-36);
				text-align: center;
			}
			p{
				color: var(--header-h2-color);
				font-size: var(--fontSize-12);
				letter-spacing: var(--letterSpacing-025);
				text-align: center;
			}
		}
		.invalidMsg{
			width: fit-content;
			height: fit-content;
			padding: 5px 12px;
			align-self: center;
		}
		form{
			width: 100%;
			padding: 10px;
			display: flex;
			justify-content: center;
			flex-direction: column;
			gap: 15px;

			label{
				margin-bottom: 8px;
			}
			h5{
				text-align: left;
				font-size: var(--fontSize-14);
				letter-spacing: var(--letterSpacing-025);
				line-height: var(--lineHeight-15);
				color: var(--theme-color);
				display: flex;

				span{
					color: red;
				}
			}
			input{
				border-radius: 8px;
				padding: 10px 15px;
				min-width: 80%;
			}
			.error{
				border: 2px solid red;
			}
		}
		button{
			width: 100%;
			padding: 11px 14px;
			border-radius: 20px;
			background: white;
			outline: none;
			border:none;
			cursor: pointer;
			background: var(--header-btn-bg);
			color: var(--color-default-white);
			margin-top: -10px;
			&:disabled{
				 	opacity: 0.7;
				 }
			 	
				@mixin animate($animation-name, $animation-duration, $animation-direction, $animation-iteration-count){
					animation : $animation-name $animation-duration $animation-direction $animation-iteration-count;
				}

				@mixin keyframes($name){
					@keyframes #{$name}{
						@content;		
					}
				}

				.loadingIcon {
					margin: auto;
					display: block;
					width: 15px;
					height: 15px;
					border-radius: 50%;
					border: 2px solid #000;
					border-top: 2px solid #fff;
					@include keyframes(loading-spinner) {
					  from {
					    transform: rotate(0deg);
					  }
					  to {
					    transform: rotate(360deg);
					  }
					}
					 @include animate(loading-spinner, 1s, linear, infinite);


			}
		}
		span{
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 5px;
			color: var(--header-h2-color);
			font-size: var(--fontSize-14);
			letter-spacing: var(--letterSpacing-025);
			text-align: center;
			a{
				color: var(--link-color);
			}
		}
	}
	.displayCtnr{
		height: 600px;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
		padding: 20px;
		background-image: linear-gradient(
			167deg,
			var(--header-btn-bg),
			#f2f2
		);
	}
}