.invoiceMainContainer{
	width: 100%;
	display: flex;
	background: var(--default-bg);
	height: 100vh;
	overflow: scroll;

	button{
		&:hover{
			opacity: 0.8;
		}
	}
	
	.landingPage{
		background: var(--default-bg);
		position: relative;
		width: 100%;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		padding-left: 50px;

		.invoiceAppHeader{
			width: 100%;
			position: sticky;
			top: 0;
			padding: 30px 30px;
			background: var(--default-bg);
			display: flex;
			align-items: center;
			justify-content: space-between;

			.pageTitle{
				display: flex;
				flex-direction: column;

				h2{
					color: var(--header-h2-color);
					font-size: 	var(--header-h2-fontSize);
					font-weight: var(--fontWeight-bold);
					line-height: var(--lineHeight-36);
				}
				p, span{
					color: var(--header-h2-color);
					font-size: var(--fontSize-12);
					letter-spacing: var(--letterSpacing-025)

				}
			}

			.btnHeaderCtnr{
				display: flex;
				gap: 15px;
					
				button{
					border: none;
					outline: none;
					display: flex;
					align-items: center;
					gap: 10px;
					color: black;
					cursor: pointer;
				}

				.addNewInvoiceBtn{
					width: 120px;
					height: 40px;
					display: flex;
					align-items: center;
					gap: 7px;
					padding: 6px;
					border-radius: 22px;
					color: white;
					background: var(--header-btn-bg);

						.addNewInvoiceIcon{
							background: var(--heaader-btn-bg);
							color: #fff;
							font-size: var(--fontSize-32);
						}
					
					p{
						font-size: var(--fontSize-12);
						letter-spacing: var(--letterSpacing-025);
					}
				}
				.filterBtn{
					width: fit-content;
					border-radius: 20px;
					justify-content: center;
					background: transparent;
					color: var(--header-h2-color);
					position: relative;
					font-size: var(--fontSize-12);
					margin-right: 20px;

					ul{
						width: 100%;
						position: absolute;
						top: 100%;
						display: flex;
						flex-direction: column;
						gap: 7px;
						padding: 12px 20px;
						background: var(--bg-default-white);
						z-index: inherit;
						box-shadow: 1px 3px 9px 0px #8f8484;

							label{
								justify-content: start;
								align-items: center;
							}

							input{
							width: fit-content;
							display: flex;
							gap: 6px;
							cursor: pointer;
							accent-color:var(--header-btn-bg);
							text-decoration: none;
							}
					}
				}
			}
		}
	}
}

