// media aliases and breakpoints
$screen-sm-min: 600px;
$screen-md-min: 960px;
$screen-lg-min: 1280px;
$screen-xl-min: 1920px;

$screen-xs-max: 599px;
$screen-sm-max: 959px;
$screen-md-max: 1279px;
$screen-lg-max: 1919px;
$screen-xl-max: 5000px;

// media devices
@mixin xs {
  @media screen and (max-width: #{$screen-xs-max}) {
    @content;
  }
}

@mixin sm {
  @media screen and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max}) {
    @content;
  }
}

@mixin md {
  @media screen and (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max}) {
    @content;
  }
}

@mixin lg {
  @media screen and (min-width: #{$screen-lg-min}) and (max-width: #{$screen-lg-max}) {
    @content;
  }
}

@mixin xl {
  @media screen and (min-width: #{$screen-xl-min}) and (max-width: #{$screen-xl-max}) {
    @content;
  }
}

// media lt queries
@mixin lt-sm {
  @media screen and (max-width: #{$screen-xs-max}) {
    @content;
  }
}

@mixin lt-md {
  @media screen and (max-width: #{$screen-sm-max}) {
    @content;
  }
}

@mixin lt-lg {
  @media screen and (max-width: #{$screen-md-max}) {
    @content;
  }
}

@mixin lt-xl {
  @media screen and (max-width: #{$screen-lg-max}) {
    @content;
  }
}

// media gt queries
@mixin gt-xs {
  @media screen and (min-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin gt-sm {
  @media screen and (min-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin gt-md {
  @media screen and (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin gt-lg {
  @media screen and (min-width: #{$screen-xl-min}) {
    @content;
  }
}
.invoiceMainContainer{
	width: 100%;
	display: flex;
	background: var(--default-bg);
	min-height: 100vh;

	button{
		&:hover{
			opacity: 0.8;
		}
	}
	
	.landingPage{
		background: var(--default-bg);
		position: relative;
		width: 80%;
		min-height: 100vh;

		.invoiceAppHeader{
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			padding: 30px 100px;
			padding-right: 80px;
			background: var(--default-bg);
			display: flex;
			align-items: center;
			justify-content: space-between;

			@include xs{
				padding: 40px 30px;
			}
			.pageTitle{
				display: flex;
				flex-direction: column;

				h2{
					color: var(--header-h2-color);
					font-size: 	var(--header-h2-fontSize);
					font-weight: var(--fontWeight-bold);
					line-height: var(--lineHeight-36);
				}
				p{
					color: var(--header-h2-color);
					font-size: var(--fontSize-12);
					letter-spacing: var(--letterSpacing-025)

				}
			}

			.btnHeaderCtnr{
				display: flex;
				gap: 15px;
					
				button{
					border: none;
					outline: none;
					display: flex;
					align-items: center;
					gap: 10px;
					color: black;
					cursor: pointer;
				}

				.addNewInvoiceBtn{
					width: 120px;
					height: 40px;
					display: flex;
					align-items: center;
					gap: 7px;
					padding: 6px;
					border-radius: 22px;
					color: white;
					background: var(--header-btn-bg);

						.addNewInvoiceIcon{
							background: var(--heaader-btn-bg);
							color: #fff;
							font-size: var(--fontSize-32);
						}
					
					p{
						font-size: var(--fontSize-12);
						letter-spacing: var(--letterSpacing-025);
					}
				}
				.filterBtn{
					width: fit-content;
					border-radius: 20px;
					justify-content: center;
					background: transparent;
					color: var(--header-h2-color);
					position: relative;
					font-size: var(--fontSize-12);
					margin-right: 20px;

					ul{
						width: 100%;
						position: absolute;
						top: 100%;
						display: flex;
						flex-direction: column;
						gap: 7px;
						padding: 12px 20px;
						background: var(--bg-default-white);
						z-index: inherit;
						box-shadow: 1px 3px 9px 0px #8f8484;

							label{
								justify-content: start;
								align-items: center;
							}

							input{
							width: fit-content;
							display: flex;
							gap: 6px;
							cursor: pointer;
							accent-color:var(--header-btn-bg);
							text-decoration: none;
							}
					}
				}
			}
		}
	}
}

