.userMenuCtnr{
    display: flex;
    width: 190px;
    height: 100%;
    position: absolute;
    background: #000;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 1;
    transition: all 0.5s ease;
    padding: 20px 10px;

    .goBackIcon, .logoutIcon{
        font-size: var(--fontSize-32);
        color: #ffffff;
        cursor: pointer;
    }
    span{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        color: var(--header-h2-color);
        font-size: var(--fontSize-14);
        letter-spacing: var(--letterSpacing-025);
        text-align: center;
        height: fit-content;
        width: fit-content;
        transform: translate(50%,850%);
        a{
            color: var(--link-color);
        }
    }
}